<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channee Math About</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    

    <h1>Channee Math About</h1>
    <!-- <h3><%= fave %></h3> -->
    <ul>
        <!-- <% for(let i = 0; i<fave.length; i++) {%>
            <li><%= fave[i]%></li>
            <%}%> -->
           <h2> Some of My favorite things are : 
               <h3><%  fave.forEach((f)=>{ %>
                <li><%= f%></li>

            <% }) %>
                </h3>
        </h2>
        
        
    </ul>

    <%- include('../partials/footer.ejs') %>
</body>
</html>